@use "/src/styles/abstract" as ab;

.hero {
	outline: 2px solid red;

	min-height: 10em;
	position: relative;

	img {
		height: 100%;
	}

	.text {
		position: absolute;
		inset: 0;

		display: grid;
		place-content: center;

		color: var(--white);
	}
}
