@use "/src/styles/abstract" as ab;

.container {
	width: min(90%, var(--max-width));
	margin-inline: auto;
}

.container_wide_small {
	width: min(100%, var(--max-width));
	margin-inline: auto;
}

.full {
	width: 100%;
}
