@use "/src/styles/abstract" as ab;

.steps {
	--item-bg: #f5f5f5;
	--item-text: #3a3a3a;

	.heading_container {
		text-align: center;

		display: grid;
		place-items: center;
		gap: 0.4em;
	}

	.info {
		--gap: 3em;
		--min: calc((100% - var(--gap)) / 2);

		margin-block-start: 4em;

		display: grid;
		gap: var(--gap);

		@include ab.screen-40 {
			--gap: 2em;

			grid-template-columns: repeat(2, 1fr);
		}

		@include ab.screen-64 {
			--gap: 1em;

			grid-template-columns: repeat(4, 1fr);
		}

		@include ab.screen-80 {
			--gap: 3em;
		}

		&_item {
			aspect-ratio: 1;

			background-color: var(--item-bg);
			color: var(--item-text);

			border-radius: 50vw;

			position: relative;

			&::before {
				content: "0" attr(data-index);
				position: absolute;

				left: 50%;
				translate: -50% 0.35em;
				font-weight: 900;

				font-size: 10rem;
				line-height: 0;

				color: var(--white);
			}

			> * {
				padding-inline: 10%;
				display: grid;
				gap: 0.5em;

				border-radius: 50%;

				position: absolute;
				inset: 0;

				place-items: center;
				place-content: center;

				transition: clip-path 300ms;
			}

			.image {
				clip-path: inset(0);
			}

			.content {
				--bg: hsla(0, 0%, 66%, 0.1);

				clip-path: inset(100% 0 0 0);
				background-color: var(--bg);

				backdrop-filter: blur(2px);
			}

			&:hover {
				.image {
					clip-path: inset(0 0 100% 0);
				}
				.content {
					clip-path: inset(0);
				}
			}

			h3,
			p {
				font-weight: 600;
				font-size: 0.875rem;
				text-align: center;

				@include ab.screen-64 {
					font-size: 0.75rem;
				}

				@include ab.screen-80 {
					font-size: 0.875rem;
				}
			}
		}
	}
}
