@use "../../styles/abstract/media-queries" as ab;
.nav {
    width: min(65em, 90%);
    margin: auto;
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        column-gap: clamp(0.5em, 1vw, 1em);
        li {
            text-align: center;
            background-color: #f5f5f5;
            padding-block: 1em;
            label {
                outline: 2px solid red;
                cursor: pointer;
            }
            input[type="radio"]:checked ~ label {
                color: #fff;
                background-color: #000000;
            }
        }
    }
}
