@use "/src/styles/abstract" as ab;
.items {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1em;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    padding-top: 4em;
    padding-bottom: 2em;
    scrollbar-width: none;
    @include ab.screen-40 {
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(270px, 2fr));

        column-gap: clamp(2em, 4vw, 4em);
        row-gap: clamp(2em, 3vw, 3em);
    }
    // outline: 2px solid red;
    .item {
        min-width: 100%;
        scroll-snap-align: center;
        // outline: 2px solid red;
        transition: all 200ms ease-in-out;
        box-shadow: 0px 5.625px 32.813px 0px rgba(0, 0, 0, 0.07);
        &:hover {
            border-bottom: 0.2em solid var(--red);
            a {
                > :nth-child(2) {
                    h2 {
                        color: var(--red);
                    }
                }
            }
        }
        a {
            color: black;
            text-decoration: none;
            > :nth-child(1) {
                img {
                    width: 100%;
                }
            }
            > :nth-child(2) {
                text-align: center;
                // outline: 2px solid red;
                padding-block: 1em;
                padding-inline: 1em;
                h2 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}
.radio {
    // outline: 2px solid red;
    display: flex;
    padding-bottom: 2em;
    justify-content: center;
    input {
        accent-color: #a11e21;
        background: #a11e21;
        @include ab.screen-40 {
            display: none;
        }
    }
}
